<div class="container mt-4">
    <!-- Back Button -->
    <button class="btn btn-link" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Back
    </button>

    <h3>Select Graph to Update / Delete</h3>
    <select class="form-select mb-4" id="graphSelect" #graphSelect (change)="onGraphSelect($any(graphSelect).value)">
        <option value="null">None</option>
        <option *ngFor="let graph of graphs" [value]="graph.id">{{ graph.title }}</option>
    </select>

    <h3>Modify Graphs</h3>
    <form (ngSubmit)="addGraph()">
        <div class="mb-4">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="graph.title" name="title" required>
        </div>

        <div class="mb-4">
            <label for="iframeLink" class="form-label">iFrame Link</label>
            <div class="input-group">
                <input type="text" 
                       class="form-control" 
                       id="iframeLink" 
                       [(ngModel)]="graph.iFrameLink" 
                       name="iframeLink" 
                       [ngClass]="{'is-invalid': iFrameLinkError !== null}"
                       (ngModelChange)="iFrameLinkError = null"
                       required>
                <button class="btn btn-info" (click)="openDocumentation()" title="How to obtain the link">
                    <i class="fas fa-question-circle"></i>
                </button>
            </div>
            <div *ngIf="iFrameLinkError" class="invalid-feedback">
                {{ iFrameLinkError }}
            </div>
        </div>

        <div class="mb-4">
            <label for="requiresCalc" class="form-label">Requires Calculation</label>
            <select class="form-select" id="requiresCalc" [(ngModel)]="graph.requiresCalc" name="requiresCalc" (ngModelChange)="convertRequiresCalc()">
                <option [ngValue]="false" selected>Nein</option>
                <option [ngValue]="true">Ja</option>
            </select>
        </div>
        

        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <form (ngSubmit)="updateGraph()" class="mt-3">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger mt-2" (click)="deleteGraph()" [disabled]="!graph.id">Delete</button>
    </form>
</div>
