<div class="trip-selector-container">
    <label for="trip-select" class="trip-label">Select Trip:</label>
    <select id="trip-select" class="trip-dropdown" (change)="onTripIdSelect($event)">
      <option value="null" selected>None</option> 
      <option *ngFor="let tripId of tripIds" [value]="tripId">{{ tripId }}</option>
    </select>

    <div class="admin-settings-dropdown dropdown">
        <a href="#" id="adminSettingsDropdown" role="button" data-toggle="dropdown" aria-expanded="false" class="settings-icon">
            <i class="fas fa-cog"></i> 
            <i class="fas fa-caret-down"></i> 
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="adminSettingsDropdown">
            <li><a class="dropdown-item" routerLink="/modify-graphs">Modify Graphs</a></li>
        </ul>
    </div>
</div>

<div *ngIf="showTripIdWarning" class="warning-message">
    Please select a Trip to display Graphs.
</div>

<div class="navbar" *ngIf="!showTripIdWarning">
    <div *ngFor="let graph of graphs; let i = index" class="nav-item">
      <button class="nav-button" [class.active]="currentGraph === graph" (click)="selectGraph(i)">
        {{ graph.title }}
      </button>
    </div>
</div>

<div class="graph-container" *ngIf="currentGraph">
    <app-graph [graph]="currentGraph" [visible]="true"></app-graph>
</div>
